@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0%;
    background-color: rgb(150, 148, 148);
    color: rgb(41, 40, 40);
    font-size: 16px;
    font-family: 'Poppins';
}
header{
    background-color: rgb(39, 38, 38);
    color: whitesmoke;
    text-align: center;
    font-family: 'Noto Serif';
    font-size: 40px;
    padding: 0.4em
}
.flex{
    display: flex;
    gap: 20px;
}
#heading{
    font-size: 20px;
    text-align: center;
}
#time{
    font-size: 30px;
}
#quote{
    text-align: center;
}
@media (min-width: 300px) and (max-width: 700px) {
*{
    font-size: 12px;
}
.flex{
    display: block;
}
#heading{
    font-size: 12px;
    font-weight: 900;
}
.image{
    padding-bottom: 2em;
}
#time{
    font-size: 20px;
}
}
